.navbar {
    display: flex;
    align-items: center;
    padding: var(--space-3) var(--space-20) var(--space-3) var(--space-10);
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    background: var(--color-bg-primary);
}

.navbar_logo {
    font-weight: var(--weight-bold);
    font-size: var(--text-md);
    letter-spacing: -0.5px;
    color: #111111;
}

.navbar_links {
    display: flex;
    gap: 32px;
}

.navbar_link {
    font-size: var(--text-base);
    font-weight: var(--weight-semibold);
    color: #111111;
    cursor: pointer;
}

.navbar_link:hover {
    color: #088933;
}
.navbar_button {
    display: flex;
    gap: var(--space-6);
}
